.widget__body:after {
  content: "";
  display: block;
  clear: both;
}

/* ----- adjustment ----- */
* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 1.42;
  font-family: "FiraSansLight", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4f4f4f;
  background: #999;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

/* ----- fonts ----- */
@font-face {
  font-family: "FiraSansLight";
  src: url('../fonts/FiraSans-Light.eot?1454368621');
  src: url('../fonts/FiraSans-Light.eot?&1454368621#iefix') format('embedded-opentype'), url('../fonts/FiraSans-Light.woff?1454368557') format('woff'), url('../fonts/FiraSans-Light.ttf?1453245053') format('truetype');
}
@font-face {
  font-family: "FiraSansRegular";
  src: url('../fonts/FiraSans-Regular.eot?1462678656');
  src: url('../fonts/FiraSans-Regular.eot?&1462678656#iefix') format('embedded-opentype'), url('../fonts/FiraSans-Regular.woff?1462678656') format('woff'), url('../fonts/FiraSans-Regular.ttf?1462678656') format('truetype');
}
@font-face {
  font-family: "FiraSansMedium";
  src: url('../fonts/FiraSans-Medium.eot?1454368622');
  src: url('../fonts/FiraSans-Medium.eot?&1454368622#iefix') format('embedded-opentype'), url('../fonts/FiraSans-Medium.woff?1454368558') format('woff'), url('../fonts/FiraSans-Medium.ttf?1453245054') format('truetype');
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  background-color: #c4c4c4;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-width: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.widget-reviews {
  width: 380px;
  background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  left: 100px;
  top: 0;
}

.widget__header {
  background: #ff8663;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 0 0;
}
.widget__header:before {
  content: "";
  background-color: #fff;
  -webkit-mask-image: url("../svg/pointer.svg");
  mask-image: url("../svg/pointer.svg");
  position: absolute;
  width: 9px;
  height: 14px;
  top: 14px;
  left: 14px;
}

.widget__title {
  color: #fff;
  font-size: 12px;
  padding: 12px 15px;
  text-indent: 14px;
  width: 95%;
}

.widget__close {
  background-color: #fff;
  -webkit-mask-image: url("../svg/plus.svg");
  mask-image: url("../svg/plus.svg");
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  right: 13px;
  cursor: pointer;
  transform: rotate(45deg);
}

.widget__body {
  padding: 15px;
}

.reviews__wrapper {
  height: 140px;
  overflow-x: hidden;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 10px;
}

.reviews__item {
  margin-bottom: 17px;
  font-family: "FiraSansRegular", Arial, sans-serif;
}

.item__title {
  margin-bottom: 7px;
}

.item-title__name {
  font-family: "FiraSansMedium", Arial, sans-serif;
  font-size: 16px;
  padding-right: 10px;
}

.item-title__place {
  padding-right: 6px;
  font-size: 16px;
  color: #888;
}

.item-title__datetime {
  font-size: 14px;
  color: #888;
}

.form__header {
  font-family: "FiraSansMedium", Arial, sans-serif;
  color: #ff8663;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.input__name,
.input__place,
.textarea__review {
  outline: none;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  border: 1px solid #c4c4c4;
  width: 100%;
  margin-bottom: 14px;
  padding: 4px 14px;
  font-size: 15px;
  font-family: "FiraSansRegular", Arial, sans-serif;
  color: #696666;
}
.input__name:hover, .input__name:focus,
.input__place:hover,
.input__place:focus,
.textarea__review:hover,
.textarea__review:focus {
  border: 1px solid #ff8663;
}

.textarea__review {
  resize: vertical;
  height: 100px;
}

.input__submit {
  outline: none;
  padding: 6px 15px;
  border: none;
  margin-top: -5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  background: #ff8663;
  float: right;
  font-size: 12px;
  font-family: "FiraSansRegular", Arial, sans-serif;
}

/*# sourceMappingURL=style.css.map */
