doctype html
html(lang="en")
    title GeoReviews
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="icon" type="image/png" href="img/favicon.png")
    link(rel="apple-touch-icon" type="img/png" href="img/apple-touch-favicon.png")
    meta(name="viewport" content="device-width")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    //script(src="https://api-maps.yandex.ru/2.1/?lang=en" type="text/javascript")
    //script(src="js/index.js" type="text/javascript")
    body
        #map
        .widget-reviews
            .widget__header
                .widget__title Россия, Московская область, Балашиха, улица Дмитриева, 2
                a.widget__close(href="#")
            .widget__body
                .reviews__wrapper(id="reviews")
                    ul.reviews__list
                        li.reviews__item Not yet reviews..
                        //li.reviews__item
                        //    div.item__title
                        //        span.item-title__name Dmitriy
                        //        span.item-title__place Localhost
                        //        span.item-title__datetime 22.08.2016 20:19:02
                        //    div.item__review
                        //        span.item-text Zooooombeeeee!!!!!
                form.form__reviews-add(method="")
                    .form__header Your review
                    input.input__name(placeholder="Your name")
                    input.input__place(placeholder="Specify place")
                    textarea.textarea__review(placeholder="Share your experiences")
                    input.input__submit(type="submit" value="Add")
