doctype html
html(lang="en")
    title GeoReviews
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="icon" type="image/png" href="img/favicon.png")
    link(rel="apple-touch-icon" type="img/png" href="img/apple-touch-favicon.png")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    script(src="https://api-maps.yandex.ru/2.1/?lang=en" type="text/javascript")
    script(src="js/index.js" type="text/javascript")
    body
        #map.is_hide
        .widget-reviews.is_hide(id="widgetReviews")
            .widget__header
                .widget__title(id="locationText") Title
                a.widget__close(href="#close" id="closeWidgetReviews")
            .widget__body
                .reviews__wrapper(id="reviews")
                form.form__reviews-add(name="formAddReview")
                    .form__header Your review
                    input.input__name(placeholder="Your name" name="name")
                    input.input__place(placeholder="Specify place" name="place")
                    textarea.textarea__review(placeholder="Share your experiences" name="review")
                    input.input__submit.form__reviews__add-button(type="submit" value="Add")
