doctype html
html(lang="en")
    title GeoReviews
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="icon" type="image/png" href="img/favicon.png")
    link(rel="apple-touch-icon" type="img/png" href="img/apple-touch-favicon.png")
    meta(name="vieport" content="device-width")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    script(src="https://api-maps.yandex.ru/2.1/?lang=en" type="text/javascript")
    script(src="js/index.js" type="text/javascript")
    body
        #map
